[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh-custom/plugins/fzf-zsh-plugin"]
	path = .oh-my-zsh-custom/plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
[submodule ".oh-my-zsh-custom/plugins/zsh-vi-mode"]
	path = .oh-my-zsh-custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
